$window_bg: #cfd4e2;
$display_bg: #20212c;
$main_bg: #17181f;
$font_color: #cfd4e2;
$hover_color: #1e0f30;


.main__container {
  width: 80%;
  /* min-height: 100vh; */
  min-height: 100%;
  background-color: $main_bg;
  color: $font_color;
  border-radius: 2.3vh;
  padding: 2%;
  box-sizing: border-box;
  

  h1 {
    border-bottom: 1px solid;
  }

  .todo__list {
    width: 80%;
    max-height: 80vh;
    margin: auto;
    overflow: auto;

    button {
      position: absolute;
      bottom: 10vh;
      right: 10vh;
    }
  }
}