$window_bg: #cfd4e2;
$display_bg: #20212c;
$main_bg: #17181f;
$font_color: #cfd4e2;
$hover_color: #1e0f30;


.main__container {
  width: 80%;
  height: 100%;
  background-color: $main_bg;
  color: $font_color;
  border-radius: 2.3vh;
  padding: 2%;

  h1 {
    border-bottom: 1px solid;
  }

  .todo__list {
    width: 80%;
    margin: auto;
    position: relative;
  }
}