$window_bg: #cfd4e2;
$display_bg: #0b0f39;
$main_bg: #050a2f;
$font_color: #cfd4e2;
$hover_color: #1e0f30;

.navbar {
  width: 20%;
  height: 100%;
  padding: 1%;
  border-radius: inherit;
  display: flex;
  align-items: center;
  flex-direction: column;

  ul {
    width: 60%;
  }

  li {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    * {
      text-decoration: none;
      color: inherit;
    }

    span {
      cursor: pointer;
    }
  }
}
